# Materijali predavanja/vezbi (autorsko pravo fakulteta) -- ne komitovati
/dodatno/
/*.pdf
.obsidian/
# verif/result/ = izlazi simulacije (Vivado xsim/xcrg) -- komituju se samo
# citljivi izvestaji (.log/.txt), ne binarni sim baze (.vdb/.psdb/.pb/.sdb/...)
/verif/result/**
!/verif/result/**/
!/verif/result/**/*.log
!/verif/result/**/*.txt
FVH Vault/Prilozi/

# Izlazi simulacije za predaja/verif (pravi ih sim/*.sh)
/predaja/verif/result/
